.contact-page {
  padding: 70px 8%;
  background: #f6f6f6;
}

/* Header */
.contact-header {
  text-align: center;
  margin-bottom: 60px;
}

.contact-header h1 {
  font-size: 44px;
  margin-bottom: 10px;
  color: #000;
}

.contact-header p {
  color: #555;
  font-size: 16px;
}

/* Main Layout */
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

/* Left Side */
.contact-left {
  flex: 1;
  min-width: 320px;
}

.contact-left h2 {
  margin-bottom: 20px;
}

.detail {
  margin-bottom: 20px;
}

.detail h4 {
  margin-bottom: 5px;
}

.detail p {
  color: #444;
  line-height: 1.6;
}

.contact-left ul {
  margin-top: 10px;
  padding-left: 20px;
}

.contact-left li {
  margin-bottom: 8px;
}

/* Right Side */
.contact-right {
  flex: 1;
  min-width: 320px;
}

.contact-right h2 {
  margin-bottom: 10px;
}

.contact-right p {
  margin-bottom: 25px;
  color: #555;
}

form {
    height: auto;
        padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.error{
    color: red;
}
/* Form */
.contact-form {
  width: 100%;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 14px 20px;
  border-radius: 40px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

textarea {
  border-radius: 20px;
  resize: none;
  margin-bottom: 25px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.send-btn {
  background: #000;
  color: #fff;
  padding: 14px 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.send-btn:hover {
  background: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .input-row {
    flex-direction: column;
  }
}
